.chat-inputarea {
    height: 100%;
    background: #f5f5f5;
    border-top: 1px solid #e8e8e8;
}

.chat-inputarea:focus-within {
    height: 100%;
    background: #ffffff;
}

.chat-inputarea-sendbutton {
    position: relative;
    margin: 5px 5px 5px 5px;
    float: right;
    right: 25px;
}

.chat-inputarea-control {
    width: 100%;
}

/* width */
.chat-inputarea-textarea::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chat-inputarea-textarea::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
.chat-inputarea-textarea::-webkit-scrollbar-thumb {
    background: #0000;
    border-radius: 5px;
}

/* Handle on hover */
.chat-inputarea-textarea::-webkit-scrollbar-thumb:hover {
    background: #d5d5d5;
}